<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>


    <form action="/form" method="POST" class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" class="form-control" name="summonerName" placeholder="Summoner Name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>


</body>
</html>
