<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<form action="/form" method="POST">

    <div class="form-group">
        <label>Summoner Name</label>
        <input type="text" name="summonerName" class="form-control">
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary btn-lg">Send</button>
    </div>

</form>

</body>
</html>
