<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Penis in Saxire's mouth </p>
    <div>
      <% for (champion of champions) { %>
      <p> <%= champion.id%>  -> <%= champion.value%> </p>
      <% } %>
    </div>
  </body>
</html>
