<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <p>Penis in Saxire's mouth </p>

    <form action="/form" method=GET>
      <button type="submit" class="btn btn-primary btn-lg">Go to Form</button>
    </form>

    <br>
    <ul class="list-group">
        <% for (championId of Object.keys(champions)) { %>
        <li class="list-group-item"> <%= championId%>  ->  <%=champions[championId] %> </li>
        <% } %>

    </ul>
  </body>
</html>
