<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Penis in Saxire's mouth </p>
    <div>
      <% for (championId of Object.keys(champions)) { %>
      <p> <%= championId%>  ->  <%=champions[championId] %></p>
      <% } %>

    </div>
  </body>
</html>
