<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>Nonexistent</title>
</head>
<body>
	<h1>Nothing to see here</h1>
	<h2>Go away</h2>
</body>
</html>