<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <% for (result of resultList) { %>
    <li class="list-group-item"> <%= result.id %>   </li>
    <% } %>
</body>
</html>