body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body {
  padding-top: 50px;
}
.searchContainer {
  text-align: center;
  position: relative;
  top:100px;
}

.homeContainer {
  height:90vh;
}

#searchText {
  margin-bottom:40px;
}

.searchBar {
  width:50%;
  display: inline-block;
}

.summonerWrapper {
  width: 100%;
  display: table;
}

.submitWrapper.input-group-btn {
  display: block;
  width: 100%;
  margin: 24px auto 0;
}

.innerSearchBarContainer {
  display: block;
  width: 100%;
}

.hiddenForm{
  display: none;
}